{% extends "layout.html" %}

{% block title %}
    Flights
{% endblock %}

{% block body %}
    <h1>Flights Overview</h1>

    <ul>
        {% for flight in flights %}
            <li>
                <a href="{{ url_for('flight', flight_id=flight.id) }}">
                    {{ flight.origin }} to {{ flight.destination }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <br>
    <div>
        <form action="{{ url_for('index') }}">
            <div class="form-group">
                <button class="btn btn-primary">Go to booking page</button>
            </div>    
        </form>
    </div>
{% endblock %}
